.whenDoWeWantItContainer {
  width: 100%;
  height: 50vh;
  background-color: #c73a26;
  margin-top: -1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contentContainer {
  width: 90vw;
  max-width: 1600px;
}

.heading {
  color: #eee5c1;
  margin-bottom: 2em;
  max-width: 1600px;
  padding-right: 0.5em;
}

.svgContainer {
  width: 100%;
  height: auto;
  max-height: 300px;
  max-width: 1600px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding: 1em 0em 1em 1em;
}

.when-svg {
  position: absolute;
  height: 600px;
  width: auto;
  max-width: 1140px;
}
