.headerContainer {
  background: #c73a26;
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.siteTitleLink {
  margin: 0;
  font-family: LietzLindauHamburg;
  color: var(--theme-bg-color);
  text-decoration: none;
}

.siteTitleLink:hover {
  color: var(--theme-black);
}
